

<h2>HIIIIIIIII</h2>
<a href="/newsnip">Create Snippet and Your Snippets</a>
<a href="/logout">logout</a>




<div class="info-container">
<div class="main">
{{#snippets}}
<div class="info">
  <a href="/single/{{id}}"><h2>{{username}}</h2></a>
<!-- <a {{#snippet}} href="/single/{{id}}" {{/snippet}}><h2>{{username}}</h2></a> -->

  <p>Title: {{title}}</p>
  <p>Code: {{code}}</p>
  <p>Notes: {{notes}}</p>
  <p>Language:{{#language}}<a href="/language/{{.}}">{{.}}</a>{{/language}}</p>
  <p>Tags:{{#tags}}<a href="/tags/{{.}}">{{.}}</a> {{/tags}}</p>
{{#user}}
<form action="/{{id}}/delete" method="post">
  <button type="submit">Delete</button>
  <p><a href="/{{id}}/edit">Edit</a></p>
</form>
{{/user}}
</div>

{{/snippets}}
</div>
</div>
